extends ../layout

block content
    link(rel="stylesheet", href="/stylesheets/admin/articleManage.css")
    section.content
        include ./admin-left
        section.show-pannel
            -if(user)
                p.page-title 文章管理
                div.article-oper
                    span.cal
                    div.artlist-head.arti
                        div.check-arti
                            p.tab-all
                                input(type="checkbox")
                        div.arti-cata
                            p 分类
                        div.arti-title
                            p 标题
                        div.arti-auth
                            p 作者
                        div.arti-pub
                            p 发布时间
                        div.arti-control
                            p 操作
                    each val in artList
                        div.article-item.arti
                            input(type="hidden", value="#{val.id}", class="hide_id")
                            div.check-arti
                                p.tab
                                    input(type="checkbox")
                            div.arti-cata
                                p=val.tip
                            div.arti-title
                                p
                                    a(href="/blog-detail/#{val.id}_#{val.article_link_str}")=val.name
                            div.arti-auth
                                p=val.auth
                            div.arti-pub(format-data)
                                p=val.article_upDate
                            div.arti-control
                                p
                                    i.iconfont.icon-lajitongshanchu.delete
                                p
                                    a(href="/admin/editArticle/#{val.id}")
                                        i.iconfont.icon-xiugai.exchange
            -else
                include noLogin
        div.del-pannel
            div.del-content
                p.del-info
                div.del-btn-box
                    span.del-btn.btn 删除
                    span.no-btn.btn 取消
        div.change-pannel
    script(src="/javascripts/admin/articleManage.js")
