extends layout

block content
    section.container
        section.content
            input.a_id(type="hidden", value="#{data.id}")
            div.title-container
                p
                    i.iconfont.icon-time
                    span.timeline(format-data)=data.article_upDate
                p.title=data.name
                p
                    i.iconfont.icon-23
                    span.arti-auth=data.auth
            div.arti-desc=data.article_desc
            div.arti-font
                p.font-op.font-big A+
                p.font-op.font-small A-

            div.arti-container(value="#{data.content}")

            section.commond-part(style="margin-top: 30px; padding: 0 30px;position: relative;")
                -if(user)
                    img(src="/images/#{user.icon}", style="width: 40px; position: absolute;left: 40px;top: 0;transform: translate(0, -50%)")
                    input.u_id(type="hidden", value="#{user.id}")
                -else
                    div(style="width:40px; height:40px; position: absolute;left: 40px;top: 0;transform: translate(0, -50%);border: 1px solid #dcdcdc;border-radius:50%;line-height: 40px;text-align: center;background: #fff") 登录
                div.commond-input
                    textarea.com-content(placeholder="请开始你的表演", style="min-width: calc(100% - 40px);max-width: calc(100% - 40px);min-height: 100px;border: 10px;font-size: 18px;padding: 20px;border: 1px solid #dcdcdc;")
                    p.sub-com bb一下


        div.auth-desc
            i.iconfont.icon-chacha(title="关闭")
            div.user-info





    script(src="/javascripts/blog-detail.js")
    style.
        @keyframes tan {
            from{
                width: 0;
                height: 0;
            }
            to{
                width: 300px;
                height: 500px;
            }
        }
        .container{
            background: #efefef;
            padding-top: 20px;
        }
        .content{
            position: relative;
            background: #fff;
            max-width: 881px;
            width: 80%;
            margin: auto;
            padding: 10px 0;
        }
        .arti-font{
            position: fixed;
            margin-top: -41px;
            transform: translate(-100%, 0);
        }
        .font-op{
            color: #ccc;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid #dcdcdc;
        }
        .font-small {
            border-top: none;
        }
        .font-op:hover{
            border: 1px solid #ccc;
            cursor: pointer;
        }
        .title-container{
            text-align: center;
            padding-bottom: 20px;
        }
        .title{
            margin: 20px 0;
            font-size: 25px;
        }
        .arti-desc{
            font-size: 20px;
            padding: 10px 0 10px 30px;
            margin: 10px 0;
            border-left: 5px solid rgb(0,154,97);
        }
        .arti-container{
            padding: 10px 30px;
        }
        .arti-container>p{
            text-indent: 20px;
        }
        .icon-time:before,.icon-23:before{
            color: #999;
            margin-right: 5px;
        }
        .arti-container p{
            text-indent: 20px;
        }
        .arti-auth:hover{
            cursor: pointer;
            color: #19aa8d;
        }
        .auth-desc{
            position: fixed;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 500px;
            transform: translate(-50%, -50%);
            background: #f8d4bc;
            display: none;
            animation: tan .5s cubic-bezier(.31,.83,.71,1);
        }
        .icon-chacha{
            position: absolute;
            right: -15px;
            top: -15px;
        }
        .user-info{
            text-align: center;
        }
        .sub-com{
            height: 40px;
            width: 120px;
            line-height: 40px;
            background: #00B7FF;
            color: #fff;
            text-align: center;
            font-size: 18px;
            float: right;
            margin-right: 20px;
            margin-top: 10px;
        }
        .sub-com:hover{
            cursor: pointer;
        }
