extends layout

block content
    section.container
        section.content
            div.title-container
                p
                    i.iconfont.icon-time
                    span.timeline(format-data)=data.article_upDate
                p.title=data.name
                p
                    i.iconfont.icon-23
                    span.arti-auth=data.auth
            div.arti-desc=data.article_desc
            div.arti-font
                p.font-op.font-big A+
                p.font-op.font-small A-

            div.arti-container(value="#{data.content}")

        div.auth-desc
            i.iconfont.icon-chacha(title="关闭")
            div.user-info



    script(src="/javascripts/blog-detail.js")
    style.
        @keyframes tan {
            from{
                width: 0;
                height: 0;
            }
            to{
                width: 300px;
                height: 500px;
            }
        }
        .container{
            background: #efefef;
            padding-top: 20px;
        }
        .content{
            position: relative;
            background: #fff;
            max-width: 881px;
            width: 80%;
            margin: auto;
            padding: 10px 0;
        }
        .arti-font{
            position: fixed;
            margin-top: -41px;
            transform: translate(-100%, 0);
        }
        .font-op{
            color: #ccc;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid #dcdcdc;
        }
        .font-small {
            border-top: none;
        }
        .font-op:hover{
            border: 1px solid #ccc;
            cursor: pointer;
        }
        .title-container{
            text-align: center;
            padding-bottom: 20px;
        }
        .title{
            margin: 20px 0;
            font-size: 25px;
        }
        .arti-desc{
            font-size: 20px;
            padding: 10px 0 10px 30px;
            margin: 10px 0;
            border-left: 5px solid rgb(0,154,97);
        }
        .arti-container{
            padding: 10px 30px;
        }
        .arti-container>p{
            text-indent: 20px;
        }
        .icon-time:before,.icon-23:before{
            color: #999;
            margin-right: 5px;
        }
        .arti-container p{
            text-indent: 20px;
        }
        .arti-auth:hover{
            cursor: pointer;
            color: #19aa8d;
        }
        .auth-desc{
            position: fixed;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 500px;
            transform: translate(-50%, -50%);
            background: #f8d4bc;
            display: none;
            animation: tan .5s cubic-bezier(.31,.83,.71,1);
        }
        .icon-chacha{
            position: absolute;
            right: -15px;
            top: -15px;
        }
        .user-info{
            text-align: center;
        }
